@import "tailwindcss";

.lang-en,
.lang-ru {
  display: none !important;
}

[data-lang="en"] .lang-en {
  display: revert !important;
}
[data-lang="en"] .lang-ro {
  display: none !important;
}

[data-lang="ru"] .lang-ru {
  display: revert !important;
}
[data-lang="ru"] .lang-ro {
  display: none !important;
}

.lang-btn {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.15s;
  background: none;
  border: none;
  padding: 0 4px;
}
.lang-btn:hover {
  opacity: 0.75;
}
.lang-btn.active {
  opacity: 1;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}
