---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const bags = await getCollection('bags'); 

  return bags.map((bag: any) => ({
    params: { bagSlug: bag.data.slug },
    props: { bag },
  }));
}

const { bag } = Astro.props;

const categories = await getCollection('categories');

const category = categories.find((c) => c.filePath === bag.data.categoryPath);
---

<Layout>
<main class="flex flex-col items-center">
  <h1>{bag.data.name}</h1>
  <h2 class="italic">{category && category.data.name}</h2>
  <img class="h-96" src={bag.data.imgSrc} />
  <article>
    {bag.body}
  </article>
</main>
</Layout>
