---
import CategoryProduct from "./CategoryProduct.astro";

const allProducts = Object.values(
  import.meta.glob("../../content/products/*.md", { eager: true }),
);

const { category } = Astro.props;

const categoryProducts = allProducts.filter((product: any) =>
  category.file.includes(product.frontmatter.categoryPath),
);
---

{
  categoryProducts.length > 0 && (
    <section id={category.frontmatter.name}>
      <h2 class="flex items-center gap-6 text-3xl">
        <a href={`#${category.frontmatter.name}`}>
          {category.frontmatter.name}
        </a>
        <div class="h-[1px] flex-1 bg-gray-200" />
      </h2>
      <ul class="flex flex-col flex-wrap items-center md:flex-row md:items-stretch">
        {categoryProducts.map((product: any) => (
          <li class="p-2">
            <CategoryProduct product={product} />
          </li>
        ))}
      </ul>
    </section>
  )
}
