<header
  class="sticky top-0 z-10 -mx-4 bg-white/80 pt-2 pb-2 backdrop-blur-[10px] transition-shadow duration-300 sm:-mx-16"
>
  <div
    class="flex w-full items-center justify-between px-4 text-center text-neutral-600 sm:px-16"
  >
    <a href="/">
      <img
        src="/Logo.svg"
        alt="Company Logo"
        class="aspect-[2.5] w-[140px] object-contain"
      />
    </a>
    <div class="flex items-center gap-4">
      <div class="flex flex-col items-end">
        <a
          href="tel:069149730"
          class="flex items-center gap-3 text-2xl font-bold"
        >
          <img src="/phone.svg" alt="Phone Icon" class="w-6 object-contain" />
          <span>069 149 730</span>
        </a>
        <a
          href="https://www.google.com/maps/search/?api=1&query=str.+Nicolae+Dimo+17/1"
          target="_blank"
          rel="noopener noreferrer"
          class="mt-1 text-sm font-medium underline"
        >
          str. Nicolae Dimo 17/1
        </a>
      </div>
    </div>
  </div>
</header>

