<header class="pb-10 w-full max-md:px-5 max-md:max-w-full">
  <div class="flex flex-wrap justify-between items-center w-full text-center text-neutral-600 max-md:max-w-full">
    <img
      src="/Logo.svg"
      alt="Company Logo"
      class="object-contain shrink-0 self-stretch my-auto aspect-[2.5] w-[140px]"
    />
    <div class="flex shrink gap-4 items-center self-stretch my-auto max-md:max-w-full">
      <div class="flex flex-col items-end self-stretch my-auto">
        <div class="flex gap-3 items-center text-2xl font-bold">
          <img
            src="/arrowDown.svg"
            alt="Phone Icon"
            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
          />
          <p class="self-stretch my-auto">069 149 730</p>
        </div>
        <address class="mt-1 text-sm font-medium underline not-italic">
          str. Nicolae Dimo 17/1
        </address>
      </div>
    </div>
  </div>
</header>