<header class="flex justify-between">
  <a class="text-blue-900 underline" href="/new">Saci.md (new)</a>
  <div class="flex gap-3">
    <button><a href="#map">Locație</a></button>
    <button><a href="tel:+37369149730">069 149 730</a></button>
  </div>
</header>
