<header class="flex justify-between">
  <a class="text-blue-900 underline" href="/new">Saci.md (new)</a>
  <div class="flex gap-3">
    <button
      class="hidden rounded-lg border border-gray-300 px-4 py-1 shadow-sm sm:block"
      ><a href="#map">Locație</a></button
    >
    <button class="rounded-lg bg-blue-600 px-4 py-1 text-white shadow-sm"
      ><a href="tel:+37369149730">069 149 730</a></button
    >
  </div>
</header>
