<section
  class="flex w-full flex-wrap items-center gap-10 max-md:max-w-full max-md:px-5"
>
  <div
    class="my-auto flex min-w-60 flex-1 shrink basis-0 flex-col justify-center self-stretch max-md:max-w-full"
  >
    <div class="w-full text-neutral-600 max-md:max-w-full">
      <h1
        class="text-6xl leading-[64px] font-bold max-md:max-w-full max-md:text-4xl max-md:leading-[52px]"
      >
        Saci din rafie și polietilenă pentru gunoi și materiale de construcții
      </h1>
      <p class="mt-6 text-2xl max-md:max-w-full">
        Rezistenți. Accesibili. Disponibili în multiple dimensiuni.
      </p>
    </div>
    <button
      class="mt-12 flex min-h-14 items-center justify-center gap-2 self-start overflow-hidden rounded-lg bg-neutral-600 px-6 py-4 text-center text-xl leading-tight font-semibold text-white shadow-sm max-md:mt-10 max-md:px-5"
    >
      <span class="my-auto self-stretch">Vezi produsele</span>
      <img
        src="/arrowDown.svg"
        alt="Arrow Icon"
        class="my-auto aspect-square w-6 shrink-0 self-stretch object-contain"
      />
    </button>
  </div>
  <img
    src="/Hero.svg"
    alt="Hero Image"
    class="my-auto aspect-[1.14] w-[580px] min-w-60 self-stretch object-contain max-md:max-w-full"
  />
</section>
