<section
  class="-mx-4 flex flex-wrap items-center gap-10 pt-6 pb-16 sm:-mx-16"
  style="background: linear-gradient(#FFF 14.8%, #C1B9AE 116.9%);"
>
  <div
    class="my-auto flex min-w-[60px] flex-1 flex-col justify-center px-4 sm:px-16"
  >
    <div class="w-full max-w-[680px] text-neutral-600">
      <h1
        class="text-[40px] leading-[64px] font-bold max-md:leading-[52px] sm:text-[48px] md:text-[52px] lg:text-[56px]"
      >
        Saci din rafie și polietilenă pentru gunoi și materiale de construcții
      </h1>
      <p class="mt-6 text-2xl">
        Rezistenți. Accesibili. Disponibili în multiple dimensiuni.
      </p>
    </div>
    <button
      class="mt-12 flex items-center gap-2 self-start overflow-hidden rounded-lg bg-neutral-600 px-6 py-4 text-xl font-semibold text-white shadow-sm max-md:mt-10 max-md:px-5"
    >
      <a href="#categories-nav" class="flex">
        <span>Vezi produsele</span>
        <img
          src="/arrowDown.svg"
          alt="Arrow Icon"
          class="w-6 shrink-0 object-contain"
        />
      </a>
    </button>
  </div>
  <div class="flex w-full justify-end px-4 sm:px-16 md:w-1/2">
    <img
      src="/Hero.svg"
      alt="Hero Image"
      class="my-auto w-full max-w-[680px] object-contain"
    />
  </div>
</section>

