<section class="flex flex-wrap gap-10 items-center w-full max-md:px-5 max-md:max-w-full">
    <div class="flex flex-col flex-1 shrink justify-center self-stretch my-auto basis-0 min-w-60 max-md:max-w-full">
      <div class="w-full text-neutral-600 max-md:max-w-full">
        <h1 class="text-6xl font-bold leading-[64px] max-md:max-w-full max-md:text-4xl max-md:leading-[52px]">
          Saci din rafie și polietilenă pentru gunoi și materiale de construcții
        </h1>
        <p class="mt-6 text-2xl max-md:max-w-full">
          Rezistenți. Accesibili. Disponibili în multiple dimensiuni.
        </p>
      </div>
      <button class="flex overflow-hidden gap-2 justify-center items-center self-start px-6 py-4 mt-12 text-xl font-semibold leading-tight text-center text-white rounded-lg shadow-sm bg-neutral-600 min-h-14 max-md:px-5 max-md:mt-10">
        <span class="self-stretch my-auto">Vezi produsele</span>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/e0c850eee78789cd3f594acbf82ec295a45922c6?placeholderIfAbsent=true&apiKey=33a85ae6f6964b3a97c46abac0c2cb4e"
          alt="Arrow Icon"
          class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
        />
      </button>
    </div>
    <img
      src="/Hero.svg"
      alt="Hero Image"
      class="object-contain self-stretch my-auto aspect-[1.14] min-w-60 w-[580px] max-md:max-w-full"
    />
  </section>