---
import mascot from "../assets/mascot.png";
---

<div id="mascot-wrapper">
  <div id="mascot-message">
    <div class="text">
      👋 Bun venit! Vrei să vezi rapid produsele disponibile?
    </div>

    <a class="cta" href="#categories-nav">
      <span>Vezi produsele</span>
      <img src="/arrowDown.svg" alt="Arrow Icon" class="arrow" />
    </a>
  </div>

  <img
    src={mascot.src}
    alt="Mascot"
    id="mascot"
    class="w-24 cursor-pointer select-none"
  />
</div>

